<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375154046695-137ggdr132gvkncm18ifgqlu8qqc8ut8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375154046695-137ggdr132gvkncm18ifgqlu8qqc8ut8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>375154046695-q5ivkbe6qs0f717ndgicvi5detbfr926.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD7SAJYhdRkAJSwyoM6WYdwPs7PTVwO6BU</string>
	<key>GCM_SENDER_ID</key>
	<string>375154046695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rgp.FeedbApp-ios</string>
	<key>PROJECT_ID</key>
	<string>feedbapp-android</string>
	<key>STORAGE_BUCKET</key>
	<string>feedbapp-android.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375154046695:ios:81d62a70996fa92fa89442</string>
</dict>
</plist>